.env
.venv/
__pycache__/
*.json
*.csv
*.parquet

# Windows system files
ntuser.dat*
ntuser.ini
Thumbs.db

# Installation & Temp files
*.cab
*.dll
*.log
*.txt

# Folders you likely don't want
Saved Games/
Searches/
Videos/